body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-family: "Spartan", sans-serif;
  background-image: url("../public/images/cloud.jpg");
}

.first-div {
  background-color: rgb(223, 213, 213);
  height: 80vh;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 50px;
  margin-right: 50px;
  width: 1440px;
}

.group {
  display: flex;
  height: 65%;
}
.groups {
  display: flex;
  height: 35%;
}

.third-div {
  width: 60%;
  background-color: rgb(168, 168, 168);
  background-image: url("../public/images/desktop-image-hero-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.fourth-div {
  width: 40%;
  background-color: aliceblue;
  text-align: center;
  color: gray;
  font-weight: 500;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}

.fifth-div {
  width: 30%;
  background-color: black;
  background-image: url("../public/images/image-about-dark.jpg");
}

.sixth-div {
  width: 40%;
  background-color: aliceblue;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: small;
}

.seventh-div {
  width: 30%;
  background-color: rgb(168, 168, 168);
  background-image: url("../public/images/image-about-light.jpg");
}

h1 {
  color: black;
  padding-top: 40px;
}
.ugowork {
  display: flex;
  /* opacity: 0.7; */
  /* padding-top: 20px; */
  letter-spacing: 8px;
  font-size: small;
  /* justify-content: space-around; */
  /* text-align: center; */
  align-items: center;
}
.ugowork span {
  padding-right: 25px;
}
.hello {
  opacity: 0.7;
  text-align: left;
  line-height: 2em;
}

/* .helloo {
  text-align: left;
  letter-spacing: 8px;
  padding-top: 20px;
  font-size: small;
  justify-content: space-around;
} */
.arrow {
  width: 150px;
  height: 40px;
  background-color: white;
  left: 0;
  bottom: 0;
  position: absolute;
  padding-top: 20px;
}
.left {
  position: absolute;
  width: 25px;
  background-color: white;
  /* width: 24px; */
  padding-left: 20px;
}

.right {
  position: relative;
  width: 20px;
  background-color: white;
  /* width: 30px; */
  padding-right: 20px;
}
.next {
  /* position: relative; */
  width: 50px;
  color: black;
  /* padding-left: 13em; */
  /* float: left; */
}

.header {
  padding-top: 40px;
  letter-spacing: 8px;
}
.paragraph {
  opacity: 0.9;
  line-height: 2em;
  text-align: left;
  color: gray;
  font-weight: 500;
}
li {
  color: white;
  display: inline;
  padding: 20px;
  font-weight: 600;
  margin-top: 50px;
}

.list {
  padding-top: 40px;
}
.flist {
  font-size: 30px;
}

.leftspan {
  float: left;
}
.rightspan {
  float: right;
}
